.status {
  opacity: 0;
  padding-left: 1em;
  margin-bottom: 0em;
  background: var(--green-color);
  color: var(--white-color);
}

.enter {
  opacity: 0;
}

.enterActive {
  opacity: 1;
  transition: opacity 1000ms;
}

.enterDone {
  opacity: 0;
  transition: opacity 200ms;
}
