/* https://www.sessions.edu/color-calculator/ */
:root {
  --white-color: #fff;
  --blue-color: #007acc;
  --gray-color: #e2e2e2;
  --green-color: #00cc52;
  --red-color: #cc003d;
}

body {
  background-color: var(--white-color);
}

/* MENU */
.menu {
  background-color: var(--white-color);
  padding: 0.5em 0;
  margin-bottom: 3em;
}

.menu-nav {
  display: flex;
  width: 100%;
  align-items: center;
}

.menu-nav-title {
  display: flex;
  flex: 1;
  align-items: center;
  font-size: 2em;
  font-family: Montserrat, sans-serif;
  margin-top: 0;
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}

.menu-nav-title span {
  margin-left: 0.5em;
}

.menu-nav-item {
  font-size: 1.2em;
  box-shadow: none;
  padding: 0.5em 1em;
}

.active-menu-item {
  color: inherit;
  pointer-events: none;
  cursor: default;
}

/* CARD */
.cards-item{
  margin-bottom: 15px;
}

.card-container {
  padding: "10px";
  margin-bottom: "10px";
}

.card-more {
  margin: 15px 0;
}

.card-choice {
  background: var(--blue-color);
  color: var(--white-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin: 5px 0;
  text-align: left;
  padding: 0.7em;
}

.correct-card-choice {
  background-color: var(--green-color);
}

.incorrect-card-choice {
  background-color: var(--red-color);
}

.card-input {
  padding: 0.5em;
}
.card-submit {
  padding: 0.5em;
  margin-left: 2px;
  cursor: pointer;
  border: 2px solid var(--blue-color);
  background: var(--blue-color);
  color: var(--white-color);
}

/* BALL */

.ball {
  display: inline-block;
  border-radius: 50%;
  height: 0.8em;
  width: 0.8em;

  margin-right: 5px;
}

.empty-ball {
  background: var(--gray-color);
}

.correct-ball {
  background: var(--green-color);
}
.incorrect-ball {
  background: var(--red-color);
}

/* TAGS */
.tag {
  border: none;
  padding: 5px;
  margin: 4px;
  margin-bottom: 3em;
  border-radius: 3px;
}

.tag-all {
  background: var(--blue-color);
  color: var(--white-color);
}

.tag-on {
  background: var(--green-color);
}

.tag-off {
  background: none;
}

/* HOME */
.home {
  display: flex;
  margin-bottom: 3em;
}

.home-left {
  flex: 2;
  border-right: 1px solid var(--gray-color);
  padding-right: 20px;
}

.home-right {
  flex: 1;
  margin-left: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  color: var(--gray-color);
}

/* PROGRESS */
.progress-squares {
  display: flex;
  flex-wrap: wrap;
}

.correct-square {
  background-color: var(--green-color);
  height: 20px;
  width: 20px;
  margin: 2px;
}

.missing-square {
  background-color: var(--gray-color);
  height: 20px;
  width: 20px;
  margin: 2px;
}

.reset-btn {
  border: none;
  padding: 10px;
  margin: 20px 0;
  border-radius: 3px;
  cursor: pointer;
  background: var(--red-color);
  color: var(--white-color);
}
