/* https://www.sessions.edu/color-calculator/ */
:root {
  --white-color: #fff;
  --blue-color: #007acc;
  --gray-color: #eee;
  --green-color: #00cc52;
  --red-color: #cc003d;
}

body {
  background-color: var(--white-color);
}

/* MENU */
.menu {
  background-color: var(--white-color);
  padding: 0.5em 0;
}

.menu-nav {
  display: flex;
  width: 100%;
  align-items: center;
}

.menu-nav-title {
  display: flex;
  flex: 1;
  align-items: center;
  font-size: 2em;
  font-family: Montserrat, sans-serif;
  margin-top: 0;
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}

.menu-nav-title span {
  margin-left: 0.5em;
}

.menu-nav-item {
  font-size: 1.2em;
  box-shadow: none;
  padding: 0.5em 1em;
}

.active-menu-item {
  color: inherit;
  pointer-events: none;
  cursor: default;
}

/* CARD */
.card-container {
  padding: "10px";
  margin-bottom: "10px";
}

.card-choice {
  background: var(--blue-color);
  color: var(--white-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  width: calc(100% - 10px);
  margin: 5px 0;
  text-align: left;
  padding: 0.7em;
}

/* BALL */

.ball {
  display: inline-block;
  border-radius: 50%;
  height: 0.8em;
  width: 0.8em;

  margin-right: 5px;
}

.empty-ball {
  background: var(--gray-color);
}

.correct-ball {
  background: var(--green-color);
}
.incorrect-ball {
  background: var(--red-color);
}
